body{
    background-image: linear-gradient(to right, rgba(88, 78, 78, 0), rgb(29, 59, 233));
    text-align: center;
    margin-top: 10%;
}



.inputs{
    margin:5px ;
    padding: 10px 30px;
}

button{
    background-color: rgb(151, 146, 207);
    border: 1;
    padding: 3px;
    border-radius: 7pc;
    cursor: pointer;

}
.text{
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.DIV{
    margin-bottom: 15PX;
}