body{
    background-image: linear-gradient(to right, rgba(88, 78, 78, 0), rgb(0, 38, 255));
}

.header{
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.tofes{
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin-top: 100px;
    
}

.inputs{
    margin:5px ;
    padding: 10px 30px;
}

.btn{
    background-color: rgb(151, 146, 207);
    border: 1;
    padding: 3px;
    border-radius: 7pc;

}
.text{
    font-family: 'Plus Jakarta Sans', sans-serif;
}
